<div class="container add-listing">
  <div class="back-button">
    <button type="button" name="button" class="btn btn-primary" [routerLink]='["/listings"]'>Back</button>
  </div>
  <div class="col-md-offset-2 col-md-8">
    <div class="thumbnail add-listing-form">
      <div class="col-md-12">
        <h1>Edit Property</h1>
      </div>
      <form class="col-md-12" [formGroup]="form" (submit)="submitEdit()">
        <div class="form-group col-md-12">
          <input type="text" name="title" placeholder="Title"
          [(ngModel)]="title"
          class="form-control"
          formControlName="title">
        </div>
        <div class="form-group col-md-12">
          <input type="text" name="owner" placeholder="Owners Name"
          [(ngModel)]="owner"
          class="form-control"
          formControlName="owner">
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="city" placeholder="City"
          [(ngModel)]="city"
          class="form-control"
          formControlName="city">
        </div>
        <div class="form-group col-md-6">
          <select type="text" name="type" placeholder="Property Type"
          [(ngModel)]="type"
          class="form-control"
          formControlName="type">
            <option value="estate">Estate</option>
            <option value="condo">Condo</option>
            <option value="apartment">Apartment</option>
        </select>
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="bedrooms" placeholder="Number of Bedrooms"
          [(ngModel)]="bedrooms"
          class="form-control"
          formControlName="bedrooms">
        </div>
        <div class="form-group col-md-6">
          <input type="number" name="title" placeholder="price"
          [(ngModel)]="price"
          class="form-control"
          formControlName="price">
        </div>
        <!-- <div class="form-group col-md-12">
          <input type="file" name="image" id="image" [(ngModel)]="image" formControlName="image">
        </div> -->
        <div class="col-md-12">
          <button type="submit" value="submit" name="button" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
